Теперь нам нужен какой-то простой интерфейс. Давай начнем его проработку с перечня функций (эпиков). Предлагаю разбить функции на версии:
0 - MVP (отображением случайной последовательности в случайной тональности и другой информацией)
1 - только база данных с поиском, добавлением, редактированием данных.
2 - версия с отображением аппликатур и переходов между ними. При добавлении редактировании последовательностей аккордов и ритмических рисунков я хочу предварительно прослушивать введенные ланные через внутренний MIDI инструмент.
3 - версия с подключением midi-клавиатуры, метрономом, анализатором аккуратности, счетчиком повторений
4 - версия с квизом (разгадываением на слух последовательности)

Теперь немного детализируем эпики до пользовательских историй
1) Я как пользователь хочу видеть случайную последовательность аккордов (римские цифры, большая - мажорный аккорд, маленькая - минорный аккорд, такты разделять тире) и знать где я могу ее услышать (автора, композицию и ее часть, ссылку на композицию в toutube) в случайной тональности (в виде последовательность аккордов, принятой в гитарной записи и разделенные тактовой чертой, например |Am|Dm|E|Am|) и случайный ритмический рисунок (в формате "размер правая_рука:левая_рука", такты разделяются запятой, в левой руке обознается ступень играемого аккорда, в правой руке порядковый номер ноты в играемой аппликатуре аккорда, ноты отделяются друго от друга тире, ноты играемые вместе заключаются в скобки и в скобках разделяются запятой? паузы обозначаются X, длительности нот считаются равными в одном такте. Пример 4/4 I:X-1-(2,3)-1).  (МVP)
2) Я как пользователь хочу получать следующую случайную комбинацию для тренировки нажатием кнопки с изображением игрального кубика. (MVP)
3) Я как пользователь хочу добавлять новую персональную (только для моего аккаунта) последовательность аккордов (v1)
4) Я как пользователь хочу добавлять новый персональный (только для моего аккаунта) ритмический рисунок для обеих рук (рисунок обеих рук считать единицей рисунка, одной записью в базе данных  (v1)
5) Я как пользователь могу видеть только свои последовательность и ритмы или всех пользователей, изменив настройки (v1)
6) Я как пользовтель хочу добавлять последовательность аккордов в виде ступеней (римские цифры, большая - мажорный аккорд, маленькая - минорный аккорд, такты разделять тире) (v1)
7) Я как пользователь хочу добавлять последовательность аккордов в виде аккордов (в гитарной нотации |Am|Dm|E|Am|, которая будет преобразована в формат ступеней и сохранена) (v1)
8) Последовательности аккордов (прогрессии) не должны дублироваться, пользователь должен получить уведомлении о дублировании и запись не сохраняться (но форма ввода не закрываться, возможно это ошибка ввода). Ключевым является формат ступеней (поле progressions/degrees) (v1)
9) Ритмические рисунки должны быть уникальными, пользователь должен получить уведомление о дублировании и запись не сохраняться (но форма ввода не закрываться, возможно это ошибка ввода). Ключевым является формат ступеней (поля rhythms/left + rhythms/right как составной уникальный ключ) (v1)
10) Как пользователь я хочу редактировать свои ритмические паттерны в виде текста (v1)
11) Как пользователь 
